/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 350;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

/* Header and Navigation */
header {
  padding: 1rem 0;
}

h3{
  color: grey;
}

p {
  color: grey;
}

i {
  color: #bdb4a4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo img {
  width: 150px;
  height: auto;
  margin: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  margin-left: 1rem;
  color: #000;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: #ccc;
}

/* Hero section */
.hero {
  background-color: #f1f1f1;
  padding: 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* Main content sections */
main section {
  padding: 2rem;
  text-align: center;
}

main section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main section p {
  margin-bottom: 1rem;
}

main section.how-it-works{
    border: 1px solid #ccc;
    color: white;
    background: #bdb4a4;
}

main section.how-it-works .step-container {
  display: flex;
}

main section.how-it-works .step-container .step p {
  color: white;
}

main section.how-it-works .step-container .step h3{
  margin: .4em 0;
  color: white;
  font-size: 1.8rem;
}

main section.how-it-works .step-container .step{
  margin: 0 3em;
  color: white;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  height: 20em;
}


#home-owner .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 20em;
  border: 0;
  box-shadow: none;
}

.grid-item h3,
.grid-item p {
  margin-bottom: .6em;
}

.grid-item i {
  margin-bottom: .8em;
}

#listing-management {
  text-align: center;
  padding: 2rem 0;
}

#listing-management img{
  height: auto;
}
#listing-management h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#listing-management p {
  max-width: 800px;
  margin: 0 auto 2rem;
}

#listing-management .grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

#listing-management .grid-item {
  flex: 1 1 calc(50% - 2rem);
  text-align: left;
  border: 0;
  box-shadow: none;
  padding: 0;
  height:auto;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap:0;
}
#listing-management .grid-item i,
#listing-management .grid-item h3{
  margin: 0 .3em;
}

@media screen and (max-width: 768px) {
  #listing-management .grid-item {
    flex-basis: 100%;
  }
}


/* Contact form */
form input, form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

form button {
  width: 100%;
  padding: 0.5rem;
}

/* Call to action buttons */
.cta {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.cta:hover {
  background-color: #555;
  color: #f1f1f1;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav ul.open {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .menu-btn {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 2rem;
  width: 30%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.close:hover {
  color: #000;
}


#about{
  display: flex;
}

#about{
  overflow: hidden;
  position: relative;
  height: 20em;
}
#about div{
  width: 40em;
  position: relative;
}
#about img{
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}